<footer class="footer">
   <div class="container">
      <div class="footer__top">
         <div class="footer__item footer-item">
            <div class="footer-item__title">
               Autosender
            </div>
            <ul class="footer-item__list">
               <li class="footer-item__line">
                  <a href="#" class="footer-item__link">
                     Цены на автомобили
                  </a>
               </li>
               <li class="footer-item__line">
                  <a href="#" class="footer-item__link">
                     Автоаукцион Онлайн
                  </a>
               </li>
               <li class="footer-item__line">
                  <a href="#" class="footer-item__link">
                     Информация
                  </a>
               </li>
               <li class="footer-item__line">
                  <a href="#" class="footer-item__link">
                     О компании
                  </a>
               </li>
               <li class="footer-item__line">
                  <a href="#" class="footer-item__link">
                     Отзывы
                  </a>
               </li>
               <li class="footer-item__line">
                  <a href="#" class="footer-item__link">
                     Контакты
                  </a>
               </li>
            </ul>
         </div>
         <div class="footer__item footer-item">
            <div class="footer-item__title">
               Разделы
            </div>
            <ul class="footer-item__list">
               <li class="footer-item__line">
                  <a href="#" class="footer-item__link">
                     Статистика аукционов
                  </a>
               </li>
               <li class="footer-item__line">
                  <a href="#" class="footer-item__link">
                     Автоаукционы онлайн
                  </a>
               </li>
               <li class="footer-item__line">
                  <a href="#" class="footer-item__link">
                     Доставка по России
                  </a>
               </li>
               <li class="footer-item__line">
                  <a href="#" class="footer-item__link">
                     Калькулятор автомобиля
                  </a>
               </li>
            </ul>
         </div>
         <div class="footer__item footer-social">
            <div class="footer-item__title">
               Наши соц. сети
            </div>
            <div class="footer-social__wrapper">
               <a href="#" class="footer-social__link" target="_blank">
                  <img src="assets/images/footer/youtube.svg" alt="">
               </a>
               <a href="#" class="footer-social__link" target="_blank">
                  <img src="assets/images/footer/insta.svg" alt="">
               </a>
               <a href="#" class="footer-social__link" target="_blank">
                  <img src="assets/images/footer/whats.svg" alt="">
               </a>
            </div>
         </div>
         <div class="footer-contacts footer-contacts">
            <div class="footer-item__title">
               Контакты:
            </div>
            <div class="footer-contacts__wrapper">
               <div class="footer-contacts__item">
                  <div class="footer-contacts__phone">
                     <a href="tel:+79995598580">
                        +7 (999) 559-85-80
                     </a>
                  </div>
                  <div class="footer-contacts__address">
                     <span>
                        Екатеринбург, мкр. Светлый дом 2
                     </span>
                     <a href="#" class="footer-contacts__way">
                        Как проехать?
                     </a>
                  </div>
               </div>
               <div class="footer-contacts__item">
                  <div class="footer-contacts__phone">
                     <a href="tel:+79990591565">
                        +7 (999) 059-15-65
                     </a>
                  </div>
                  <div class="footer-contacts__address">
                     <span>
                        г. Владивосток, ул. Пограничная 15-В, офис 411
                     </span>
                     <a href="#" class="footer-contacts__way">
                        Как проехать?
                     </a>
                  </div>
               </div>
               <div class="footer-contacts__item">
                  <div class="footer-contacts__phone">
                     <a href="tel:+79147198114">
                        +7 (914) 719-81-14
                     </a>
                  </div>
                  <div class="footer-contacts__address">
                     <span>
                        ТЦ «Формула X», Московская область, Ленинский р-н, офис 114
                     </span>
                     <a href="#" class="footer-contacts__way">
                        Как проехать?
                     </a>
                  </div>
               </div>
            </div>

         </div>
      </div>
      <div class="footer__city footer-city">
         <div class="footer-city__item">
            <ul>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Абакан</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Алапаевск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Алушта</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Амурск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Ангарск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Арсеньев</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Артем</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Архангельск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Асбест</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Астрахань</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Барнаул</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Белгород</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Белово</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Белогорск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Бердск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Бийск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Биробиджан</a>
               </li>
            </ul>
         </div>
         <div class="footer-city__item">
            <ul>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Благовещенск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Братск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Брянск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Великий Новгород</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Верхний Тагил</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Владимир</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Волгоград</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Волгодонск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Волжский</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Вологда</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Воронеж</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Дальнереченск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Евпатория</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Екатеринбург</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Иваново</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Ижевск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Казань</a>
               </li>
            </ul>
         </div>
         <div class="footer-city__item">
            <ul>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Калуга
                  </a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Каменск Уральский
                  </a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Кемерово</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Керчь</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Киров</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Комсомольск на Амуре
                  </a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Кострома</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Краснодар</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Красноярск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Курган</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Курск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Липецк</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Магнитогорск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Москва</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Мурманск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Набережные Челны
                  </a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Находка</a>
               </li>
            </ul>
         </div>

         <div class="footer-city__item">
            <ul>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Находка</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Нерюнгри
                  </a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Нефтеюганск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Нижневартовск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Нижнекамск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Нижний Новгород
                  </a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Нижний Тагил
                  </a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Новокузнецк</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Новосибирск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Омск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Орёл</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Оренбург</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Орск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Партизанск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Пенза</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Первоуральск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Пермь</a>
               </li>
            </ul>
         </div>

         <div class="footer-city__item">
            <ul>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Петрозаводск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Прокопьевск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Псков</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Ростов на Дону
                  </a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Рязань</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Самара</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Санкт-Петербург
                  </a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Саранск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Севастополь</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Серов</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Симферополь</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Смоленск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Сочи</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Ставрополь</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Сургут</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Сыктывкар</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Тамбов</a>
               </li>
            </ul>
         </div>

         <div class="footer-city__item">
            <ul>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Тверь</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Тольятти</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Томск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Тула</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Тюмень</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Улан-Удэ
                  </a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Ульяновск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Уссурийск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Уфа</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Хабаровск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Ханты-Мансийск
                  </a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Чебоксары</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Челябинск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Череповец</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Чита</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Якутск</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Ялта</a>
               </li>
               <li class="footer-city__item-line">
                  <a href="#" class="footer-city__link">Ярославль</a>
               </li>
            </ul>
         </div>
      </div>
      <div class="footer__copyright">
         <span>
            © AUTOSENDER.RU 2008-2021 ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "СИНЕРГОС", ОГРН 1112540008701
            Данный сайт носит исключительно информационный характер и не является публичной офертой
         </span>
      </div>
   </div>
   <div class="footer-mobile">
      <div class="burger-menu" id="burger">
         <span></span>
      </div>
      <a href="#popup" class="footer-application popup-link">
         Оставить заявку
      </a>

      <div class="footer-mobile__social">
         <a href="#" class="footer-mobile__whats" target="_blank">
            <img src="assets/images/footer/mobile/whats.svg" alt="">
         </a>
         <a href="#" class="footer-mobile__message">
            <img src="assets/images/footer/mobile/jivo.svg" alt="">
         </a>
      </div>
   </div>
</footer>



<!-- =========Попап----------------------------------- -->

<div class="popup" id="popup">
   <div class="popup__body">
      <div class="popup__content">
         <a href="#" class="popup__close close-popup">
            <img src="assets/images/popup/close.svg" alt="">
         </a>
         <div class="popup__title">
            Оставьте заявку
         </div>
         <p class="popup__text">
            Наш менеджер подберет автомобиль по вашим параметрам
            и обсудит варианты его покупки с аукциона Японии
         </p>
         <form class="popup__form popup-form">

            <div class="popup-form__inner">
               <div class="popup-form__input-box">
                  <input type="text" name="name" class="popup__input" required placeholder="Ваше имя">
               </div>

               <div class="popup-form__input-box">
                  <input type="tel" name="phone" class="popup__input" required placeholder="Номер телефона">

               </div>
            </div>


            <input type="checkbox" id="popup-chebox" class="politic_input">
            <label for="popup-chebox" class="popup__politic">

               Я согласен с <a href="#" class="politic-conf"> Политикой обработки
                  персональных данных
               </a>
            </label>
            <button type="submit" class="popup__btn">
               Подобрать автомобиль
            </button>
         </form>

         <div class="popup__contacts popup-contacts">
            <div class="popup-contacts__social popup-social">
               <a href="#" class="popup-social__item" target="_blank">
                  <img src="assets/images/popup/whats.svg" alt="">
               </a>
               <a href="#" class="popup-social__item" target="_blank">
                  <img src="assets/images/popup/telegram.svg" alt="">
               </a>
            </div>
            <div class="popup-contacts__phone popup-phone">
               <a href="tel:88003017759" class="popup-phone__item">
                  <span>8 (800) 301-77-59</span>
                  <p>Звонок по РФ бесплатный</p>
               </a>
               <a href="tel:88003028855" class="popup-phone__item">
                  <span>8 (800) 302-88-55</span>
                  <p>Руководитель продаж</p>
               </a>
            </div>

         </div>

         <div class="popup-contacts__manager popup-manager">
            <div class="popup-manager__title">
               Наши менеджеры
            </div>
            <div class="popup-manager__inner">
               <div class="popup-manager__item">
                  <div class="popup-manager__img">
                     <img src="assets/images/popup/01.jpg" alt="">
                  </div>
                  <div class="popup-manager__info">
                     <div class="popup-manager__name">
                        Инна М.
                     </div>
                     <a href="tel:+79117838252" class="popup-manager__number">
                        +7 (911) 783-82-52
                     </a>
                  </div>
               </div>
               <div class="popup-manager__item">
                  <div class="popup-manager__img">
                     <img src="assets/images/popup/02.jpg" alt="">
                  </div>
                  <div class="popup-manager__info">
                     <div class="popup-manager__name">
                        Владимир Н.
                     </div>
                     <a href="tel:+79117838241" class="popup-manager__number">
                        +7 (911) 783-82-41
                     </a>
                  </div>
               </div>
               <div class="popup-manager__item">
                  <div class="popup-manager__img">
                     <img src="assets/images/popup/03.jpg" alt="">
                  </div>
                  <div class="popup-manager__info">
                     <div class="popup-manager__name">
                        Александр К.
                     </div>
                     <a href="tel:+79117838234" class="popup-manager__number">
                        +7 (911) 783-82-34
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

</div>